.App {
    display: flex;
    flex-direction: column;
    background: #360033;
    background: -webkit-linear-gradient(to right, #0b8793, #360033);
    background: linear-gradient(to right, #0b8793, #360033);
    
}

.Cards {
    display: flex;
    flex-wrap: wrap;
}